body {
    /* Indiquer ici au minimum les règles de typographie de base */
    background-color: silver;
    text-align: center;
    color: navy;
}

input {
    min-width: 146px;
}

.error {
    color: #a00;
    font-weight: bold;
}

.valid {
    color: #0a0;
    font-family: Consolas, monospace;
}